{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Book Detail{% endblock %}
{% block content %}
    <h3>Book Detail Page</h3>
    <div class="row mt-5">
        <div class="col-3">
            <img src="{{ book.cover.url }}" class="img-fluid" alt="">
        </div>
        <div class="col-6">
            <h5>{{ book.title }}</h5>
            <span class="my-2">Authors:
                {% for author in book.authors.all %}
                    <a href="" class="fw-bold">
                    {{ author.first_name }} {{ author.last_name }}
                    </a>
                {% endfor %}
            </span><br>
            <span>Published: {{ book.published }}</span> <br>
            <span>Genres:
                {% for genr in book.genre.all %}
                    <a href="" class="fw-light">{{ genr.name }}</a>
                {% endfor %}

            </span>

            <p>{{ book.description }}</p>
            <p>ISBN: {{ book.isbn }}</p>
            <p>Page: {{ book.page }}</p>
        </div>


    </div>
    <hr>
    <div class="row">
        <div class="col-4">
            <form action="{% url 'books:add-review' book.pk %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="mt-1 btn btn-success">Add Review</button>
            </form>
        </div>
    </div>
    {% if book.reviews %}
        <div class="row">
            <h3>Reviews</h3>
            <div class="col-9">
                {% for review in book.reviews.all %}
                    <div class="card my-2">
                        <div class="card-header">
                            {{ review.user.username }} rated {{ review.rating }}

                        </div>
                        <div class="card-body">
                            <h5 class="card-title">       {{ review.user.username }}</h5>
                            <p class="card-text">{{ review.body }}</p>
                            <a href="#" class="btn btn-light">Like 👍</a> <span
                                class="fw-lighter">{{ review.like_count }} likes </span>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    {% else %}
        <h3>No Reviews</h3>
    {% endif %}

{% endblock %}